body {
    background-image: linear-gradient(45deg, #EB5757 0%, rgba(235, 87, 87, 0.7) 100%);
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 0 30px;
}

.a-container {
    padding-top: 60px;
}

input[type=text] {
    padding: 8px 16px;
    box-sizing: border-box;
    border: 2px solid #EB5757;
    border-radius: 4px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 37%;
    margin: 40px;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 400px;
    background-color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #EB5757;
    border-radius: 4px;
    padding: 8px;
}

.btn-task, .delete {
    background-color: #EB5757;
    border: none;
    color: white;
    width: 100px;
    border-radius: 4px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.1s;
}

.tasks {
    flex: 1;
}

.scroll {
    overflow-y: scroll;
}

button {
    background-color: white;
    border: 2px solid #EB5757;
    color: #EB5757;
    width: 100px;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.1s;
}

button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 50vw;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EB5757;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 6px solid #EB5757;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 40px;
}

.img-woman {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: -1;
}

*,*:focus,*:hover{
    outline:none;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EB5757;
}